<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="tryForge.admin.dao.AdProjectDao">

	
	<!-- 프로젝트 출력 -->
	<select id="projList" resultType="project">
		SELECT * FROM PROJECT p ORDER BY p.start_date
	</select>
	
	<!-- 프로젝트에 해당하는 맴버 출력 -->
	<select id="PJMemList" resultType="member" parameterType="String">
		select m.* from member m 
		LEFT JOIN TEAM_MEMBER tm ON tm.member_key = m.member_key
		LEFT JOIN TEAM t ON t.TEAM_KEY = tm.TEAM_KEY
		LEFT JOIN project p ON p.project_KEY = t.project_KEY
		WHERE p.PROJECT_KEY = #{project_key}
	</select>
	
	<!-- 사원 검색 출력 -->
	<select id="schMem" resultType="member" parameterType="String">
		SELECT * FROM MEMBER WHERE MEMBER_NAME LIKE '%'||#{member_name}||'%'	
	</select>
	
	<!-- 프로젝트입력 -->
	<insert id="insertPJ" parameterType="project">
	    INSERT INTO PROJECT (project_key, title, detail, status, start_date, end_date)
	    VALUES ('PJ-' || project_seq.nextval, #{title}, #{detail}, '진행중', TO_DATE(#{start_date}, 'YYYY-MM-DD'), TO_DATE(#{end_date}, 'YYYY-MM-DD'))
	</insert>
	
	<!-- 팀입력 -->
	<insert id="insertTeam" parameterType="team">
		INSERT INTO TEAM (team_key, team_name, project_key, project_cnt)
		VALUES (team_seq.nextval, #{team_name}, 'PJ-' || project_seq.CURRVAL,0)
	</insert>
	
	<!-- 팀원입력 -->
	<insert id="insertTm" parameterType="int">
	    INSERT INTO TEAM_MEMBER VALUES (teamMem_seq.nextval, #{member_key}, 'TM', team_seq.CURRVAL)
	</insert>
	
	<!-- 총 팀원수 변경 -->
	<update id="uptCnt">
		UPDATE TEAM
		SET PROJECT_CNT = (
		    SELECT COUNT(*)
		    FROM TEAM_MEMBER tm
		    WHERE tm.team_key = TEAM.team_key)
	</update>
	
</mapper>