<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="member" type="tryForge.vo.Member"/>
		<typeAlias alias="notice" type="tryForge.vo.Notice"/>
		<typeAlias alias="noticeSch" type="tryForge.vo.NoticeSch"/>
		<typeAlias alias="project" type="tryForge.vo.Project"/>
		<typeAlias alias="team" type="tryForge.vo.Team"/>
		<typeAlias alias="team_member" type="tryForge.vo.Team_Member"/>
		<typeAlias alias="calendar" type="tryForge.vo.Calendar"/>
		<typeAlias alias="gantt" type="tryForge.vo.Gantt"/>
		<typeAlias alias="dashboard" type="tryForge.vo.DashBoard"/>
	</typeAliases>
	<mappers>
		<mapper resource="resource/mapper/mapper01.xml"/>
		<mapper resource="resource/mapper/memberMapper.xml"/>
		<mapper resource="resource/mapper/adminMapper.xml"/>
		<mapper resource="resource/mapper/adProjetMapper.xml"/>
		<mapper resource="resource/mapper/calendarMapper.xml"/>
		<mapper resource="resource/mapper/ganttMapper.xml"/>
		<mapper resource="resource/mapper/dashboardMapper.xml"/>
	</mappers>
	
</configuration>