<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="board" type="tryForge.vo.Board"/>
		<typeAlias alias="member" type="tryForge.vo.Member"/>
		<typeAlias alias="notice" type="tryForge.vo.Notice"/>
	</typeAliases>
	<mappers>
		<mapper resource="resource/mapper/mapper01.xml"/>
		<mapper resource="resource/mapper/memberMapper.xml"/>
		<mapper resource="resource/mapper/adminMapper.xml"/>
	</mappers>
	
</configuration>